
.backgroundd-img{
    background-image: url('../images/UIimages/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card-style{
    width:350px
}

.card-img-style{
    height: 200px;
    width:300px;
    background-color: aquamarine;
}
.cursor-pointer{
    cursor: pointer;
}
.shadow-hover:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    transform: translateY(1px);
}